.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.App > * {
  display: flex;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.MuiAutocomplete-loading		{
  background-color: grey;
}
#user-search-label {
  color: black;
  background-color: grey;
  border-radius: 10px 10px 0 0;
  border-top: 1px solid rgb(55, 55, 55);
  border-width: 0px;
  /* border-bottom: 0px solid black; */
  padding: 5px;
  
}
#chat-list-container{
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
#chat-list-container::-webkit-scrollbar{ 
  display: none;
  width: 0;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}
.ReactModal__Overlay--after-open {
  z-index: 10;
}
#user-search{
  background-color: grey;
  margin: 3px;
}
.MuiAutocomplete-listbox::-webkit-scrollbar { 
  display: none;
  width: 0;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
